.main-content--books {
   width: calc(100% - 260px);
   position: relative;
   top: -85%;
   left: 260px;
}

.books-grid {
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
   gap: 20px;
}

.books-grid--item {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    padding: 10px;
}

.books-img{
    width: 300px;
    height: 400px;
}

.books-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.books-grid--item a{
    text-decoration: none;
    padding: 5px 20px;
    background-color: blue;
    color: white;
    border-radius: 4px;
}




